.row {
  max-width: $grid-width;
  background-color: $color-grey-light;
  margin: 0 auto; 

  &--2 {
    max-width: $grid-width;
    background-color: $color-grey-dark;
    margin: 0 auto; 
  }

  
  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
  }
 
  @include clearfix;
  
  .col-1-of-2 {
    width: calc((100% - #{$gutter-horizontal}) / 2);
    float: left;
    background-color: $color-grey-light;
    
    @include respond(phone) {
      width: 100%;
    }
    
    &:not(:last-child) {
      margin-right: $gutter-horizontal;
    }
  }

}