*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  height: 100%;
  width: 100%; 

  @include respond("tab-land") {
    font-size: 56.25%;

    
  }



  @include respond("tab-port") {
    font-size: 50%;
  }

}


body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  line-height: 1.7;
  color: #777;
}

