.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #7ed56f, #06724e);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; 
  text-align: center;

  @include respond(phone) {
    font-size: 3rem;
  }

}

.heading-tertiary {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;

  @include respond(tab-land) {
    font-size: 1.5rem;
    padding-right: 2rem;
  }

  @include respond(phone) {
    padding-bottom: 2rem;
    
  }
  
  &--1 {
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding-top: 10rem;
    
    @include respond(tab-land) {
      font-size: 1.5rem;
      padding-right: 2rem;
    }
  
    @include respond(phone) {
      padding-top: 0rem;
    }
  }


}

.paragraph {
  font-size: 1.8rem;
  text-align: center;
  
  &:not(:last-child){
    margin-bottom: 3rem;
  }


  @include respond(tab-land) {
    font-size: 1.6rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

}


.photo {
  &__house {
    height: 44rem;
    width: 55rem;

    @include respond(tab-land) {
      height: 40rem;
      width: 45rem; 
      padding-right: 2rem;
    }

    @include respond(phone) {
      display: none;
    }
  
    &--1 {
      height: 44rem ; 
      width: 55rem;
    
      @include respond(tab-land) {
        height: 40rem;
        width: 45rem; 
        padding-left: 2rem;
      }
    
      @include respond(phone) {
        display: none;
      }
    }
  }
}

