.private {
  background-color: $color-grey-light;
  padding: 5rem 0;
}

.row {
  margin-bottom: 25rem;
}

.section-form {
  padding: 15rem 0;
  background-color: $color-grey-light;


}

.email {
  background-image:linear-gradient(103deg, 
      rgba($color-grey-light, .9) 0%,
      rgba($color-grey-light, .9) 50%,
      transparent 50%), 
      url(../../img/orthis.jpg);
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .2);
  height: 70rem;
  width: 100%;

  @include respond(phone) {
    display: none;
  }
  
  
  &__form {
    width: 50%;
    padding: 2rem 6rem;
  }
}  